<script>
import { mapState, mapActions } from 'vuex';
import JotformLogo from './icons/JotformLogo';
import ProjectDropdown from './ProjectDropdown';
import { setToken, deleteToken } from '../store/storage';

export default {
  props: {
    invalidToken: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  components: {
    JotformLogo,
    ProjectDropdown,
  },
  computed: {
    ...mapState(['hasToken']),
    tokenButtonTitle() {
      return this.invalidToken ? 'REPLACE TOKEN' : 'ADD TOKEN';
    }
  },
  methods: {
    ...mapActions(['toggleToken']),
    setToken() {
      const token = prompt('Paste your JotForm Personal Access Token');

      if (token) {
        setToken(token);
        this.toggleToken();
      }
    },
    deleteToken() {
      const confirm = window.confirm('Are you sure ?');

      if(confirm){
        deleteToken();
        this.toggleToken()
      }
    }
  },
};
</script>

<template>
  <header class="JotForm__Header">
    <Jotform-logo />
    <project-dropdown />
    <button
      v-if="!hasToken"
      @click="setToken"
    >
      {{tokenButtonTitle}}
    </button>
    <button
      v-else
      @click="deleteToken"
    >
      Exit account
    </button>
  </header>
</template>

<style>
@import url('/src/assets/variable.css');
.JotForm__Header {
  height: 100px;
  background: var(--jotform-header-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--gutter);
  border-bottom: 1px solid var(--hover-color);
}
button {
  padding: 2px;
  border-radius: 5px;
  margin: 15px;
}
.JotForm__Header a {
  display: flex;
  align-items: baseline;
  padding: calc(var(--gutter) / 2);
  border-radius: var(--border-radius);
  transition: 0.3s;
  z-index: 2; /* position content overlapping problem fixed. */
  margin-right: var(--gutter);
}
.JotForm__Header a svg:first-child {
  margin-right: calc(var(--gutter) / 2);
}
.JotForm__Header a svg:last-child {
  width: 55px;
  height: 24px;
  margin: 0;
  fill: #fff;
}
.JotForm__Header a:hover {
  background: var(--hover-color);
}

@media (max-width: 400px) {
  .JotForm__Header {
    flex-direction: column;
    height: auto;
  }
  .JotForm__Header a {
    margin-bottom: calc(var(--gutter) / 4);
  }
}
</style>
