<script>
import { mapState, mapActions } from 'vuex';
import SubmissionsDeck from './SubmissionsDeck';
import Loading from './Loading';

export default {
  components: {
    Loading,
    SubmissionsDeck,
  },
  computed: {
    ...mapState(['isLoading']),
  },
};
</script>

<template>
  <div class="Dashboard">
    <loading v-if="isLoading" />
    <template v-else>
      <submissions-deck />
    </template>
  </div>
</template>

<style>
@import url('/src/assets/variable.css');
.Dashboard {
  margin: 0px;
}
</style>
