<script>
import { mapState, mapActions } from 'vuex';
import widgetMixin from '../mixins/widget';
import { TableComponent, TableColumn } from 'vue-table-component';

export default {
  mixins: [widgetMixin],
  components: {
    TableComponent,
    TableColumn,
  },
  data() {
    return {
      state: true,
      reRender: false
    }
  },
  computed: {
    ...mapState(['submissions','questions']),
    tableData() {
      let newData = Array();
      this.submissions.forEach(item => {
        let newAnswer = Object();
        newAnswer.date = item.created_at;
        newAnswer.new = item.new;
        for(let index in item.answers){
          newAnswer[item.answers[index].name] = item.answers[index].prettyFormat || item.answers[index].answer
        }
        newData.push(newAnswer);
      })
      return newData;
    },
    tableQuestions() {
      let allQuestions = Array({name:'date', text:'Date'});
      this.questions.forEach(item => {
        const blocked = ['control_autocomp','control_autoincrement','control_address','control_birthdate','control_calculation','control_checkbox','control_collapse','control_datetime','control_dropdown','control_email','control_fileupload','control_fullname','control_geolocation','control_grading','control_location','control_matrix','control_number','control_phone','control_radio','control_range','control_rating','control_scale','control_signature','control_spinner','control_textarea','control_textarea2','control_textbox','control_time','control_imagechoice','control_mixed','control_yesno','control_emojislider'];
        const isAvailable = blocked.indexOf(item.type)
        if(isAvailable===-1)
          return;
        allQuestions.push({name:item.name, text:item.text})
      })
      return allQuestions
    }
  },
  created() {
    this.getQuestions()
  },
  methods: {
    async getQuestions() {
      setTimeout(() => {
        this.$forceUpdate();
        this.reRender = !this.reRender
        console.log('...')
      }, 1500);
    }
  }
}
</script>

<template>
  <div v-if="state"> 
    <table-component
      :key='reRender'
      :data="tableData"
      sort-by="date"
      sort-order="desc"
      >
      <template v-for="question in tableQuestions">
        <table-column :show="question.name" :label="question.text" v-if="question"></table-column>
      </template>
  </table-component>
  </div>
</template>

<style>
  @import url(../assets/table.css);
</style>
