<script>
export default {
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  created() {
    console.log(props.item)
  },
  methods: {
    formatDate(date) {
      const openDate = new Date(date);
      return (`${openDate.toLocaleDateString()} ${openDate.toLocaleTimeString()}`);
    },
  },
}
</script>

<template>
    <tr>  
      <td class="item">
        <span>
          <b>{{ formatDate(item.created_at) }} </b>
        </span>
      <td v-for="answer in item.answers" v-if="answer.type!=='control_text'" class="item">
        <span v-if="answer.prettyFormat">
          {{answer.prettyFormat}}
        </span>
        <span v-if="!answer.prettyFormat">
          {{answer.answer}}
        </span>
        <span v-if="!answer.answer" style="color:#cccccc;">
          (empty)
        </span>
      </td>
    </tr>
</template>

<style>
  .item {
    text-align: center;
    color: white;
  }
</style>
