<script>
import TokenNotFoundIcon from './icons/TokenNotFound';

export default {
  props: {
    invalidToken: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  components: {
    TokenNotFoundIcon,
  },
}
</script>

<template>
  <div class="landing token">
    <token-not-found-icon />
    <p v-if="invalidToken">
      We couldn't communicate with JotForm Servers. 😔
      <br />
      Looks like your token is invalidated. Try resetting your token.
    </p>
    <p v-else>
      Please set your JotForm Personal Access Token
    </p>
  </div>
</template>

<style>
@import url('/src/assets/variable.css');
.landing {
  text-align: center;
  padding-top: 50px;
}
.landing p {
  color: var(--text-color);
  font-size: 22px;
}
.landing svg {
  max-width: 225px;
}
.landing.token svg {
  max-width: 350px;
}
.landing.project svg {
  margin-bottom: 20px;
}
</style>
