:root {
  /* colors */
  --jotform-color: #5A6269;
  --jotform-header-color: #2C3243;
  --text-color: #fff;
  --hover-color: rgba(209, 209, 240, 0.2);
  --span-color: #d1d1f0;

  /* units */
  --max-width: 1240px;
  --gutter: 20px;
  --border-radius: 4px;
  --font-size: 16px;
}
