<template>
  <a href="https://jotform.com/" target="_blank" class="link">
    
    <span class="textLogo">
      JotForm
    </span>
  </a>
</template>

<style>
  .link{
    text-decoration: none;
  }
  .textLogo {
    color: white;
    font-size: 26px;
  }
</style>
