<script>
import { mapState, mapActions } from 'vuex';
import Dashboard from './components/Dashboard';
import ErrorMessage from './components/ErrorMessage';
import JotformHeader from './components/AppHeader';
import TokenLanding from './components/TokenLanding';
import ProjectIdLanding from './components/ProjectIdLanding';
import { getToken, getQuestions, getSubmissions, getProjects } from './store/storage';

export default {
  name: 'JotformDeck',
  components: {
    Dashboard,
    JotformHeader,
    ErrorMessage,
    TokenLanding,
    ProjectIdLanding,
  },
  data() {
    return {
      hasError: false,
      hasInvalidToken: false,
    }
  },
  computed: {
    ...mapState(['hasToken', 'selectedProjectId']),
  },
  methods: {
    ...mapActions(['fetchProjects', 'fetchUser', 'toggleLoading', 'toggleToken','fetchSubmissions', 'fetchQuestions']),
    async fetchData() {
      try {
        let loadingShow = true;
        if(getProjects() && getSubmissions() && getQuestions())
          loadingShow = false;
        await this.fetchUser();
        await this.fetchProjects();
        if(this.selectedProjectId){
          await this.fetchSubmissions();
          await this.fetchQuestions();
        }
        if(loadingShow)
          this.toggleLoading();
      } catch (e) {
        console.log(e);
        if (e.message.indexOf('401') > -1) {
          this.hasInvalidToken = true;
          this.toggleToken();
        }

        this.hasError = true;
      }
    }
  },
  async mounted() {
    if (getToken()) {
      this.toggleToken();
    }
  },
  watch: {
    async hasToken() {
      if (this.hasToken) {
        await this.fetchData();
      }
    }
  },
}
</script>

<template>
  <div id="app">
    <jotform-header :invalid-token="hasInvalidToken" />
    <template v-if="hasToken">
      <dashboard v-if="selectedProjectId" />
      <project-id-landing v-else />
    </template>
    <token-landing
      v-else
      :invalid-token="hasInvalidToken"
    />
  </div>
</template>

<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin-ext');
@import url('/src/assets/variable.css');

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  background: var(--jotform-color);
}
</style>
